---
# kvmd overrides settings
# https://docs.pikvm.org/first_steps/#structure-of-configuration-files
#
# Unless there is a `-` before the name, it is a unique key

{% if overrides.janus.stun.host is defined and janus.stun.port is defined -%}
janus:
  stun:
    host: {{ overrides.janus.stun.host }}
    port: {{ overrides.janus.stun.port }}
{%- endif -%}

{%- if overrides is defined -%}
kvmd:
  {% if overrides.mouse_alt is defined -%}
  hid:
    {% if overrides.mouse_alt is defined -%}
    mouse_alt:
      device: {{ overrides.mouse_alt.device | default("") }}
    {% endif -%}
    {% if overrides.mouse is defined -%}
    mouse:
      absolute: {{ overrides.mouse.absolute | default(true) }}
      horizontal_wheel: {{ overrides.mouse.horizontal_wheel | default(false) }}
      absolute_win98_fix: {{ overrides.mouse.absolute_win98_fix | default(false) }}
    {%- endif %}
  {%- endif %}

  {%- if overrides.kvm_switch is defined and overrides.kvm_switch.type is defined and overrides.kvm_switch.size is defined -%}
  gpio:
    drivers:
      {{ overrides.kvm_switch.type }}:
        type: {{ overrides.kvm_switch.type }}
        {% if overrides.kvm_switch.type == 'tesmart' -%}
        host: {{ overrides.kvm_switch.host | default('%-15s # Default for TESmart' % "192.168.1.10") }}
        port: {{ overrides.kvm_switch.port | default('%-15d # Default for TESmart' % 5000) }}
        {% endif -%}
        {% if overrides.kvm_switch.type == 'ezcoo' -%}
        device: {{ overrides.kvm_switch.device | default('%-15s # Default for ezCoo' % "/dev/ttyUSB0") }}
        protocol: {{ overrides.kvm_switch.protocol | default('%-13d # Default for ezCoo' % 2) }}
        {% endif %}

    # Configuration specifies a {{ overrides.kvm_switch.size }}-port KVM switch
    scheme:
      {% for port_number in range(overrides.kvm_switch.size) -%}
      server{{ port_number }}_led:
        driver: {{ overrides.kvm_switch.type }}
        mode: input
        pin: {{ port_number }}
      server{{ port_number }}_button:
        driver: {{ overrides.kvm_switch.type }}
        mode: output
        pin: {{ port_number }}
        switch: false
      {% endfor %}

    view:
      table:
        {% if overrides.kvm_switch.name is defined -%}
        - ["#{{ overrides.kvm_switch.name }}"]
        - []
        {% endif -%}

        {%- for port_number in range(overrides.kvm_switch.size) -%}
        - ["#{{ '%2d' % (port_number + 1) }}: {{ overrides.kvm_switch.server_text | default('Server %2d' % (port_number + 1)) }}", server{{ port_number }}_led, "server{{ port_number }}_button | {{ overrides.kvm_switch.button_text | default("Select") }}"]
        {% endfor -%}
  {% endif -%}
{% endif -%}
